{#
| Variable                      | Type    | Description                              |
|-------------------------------|---------|------------------------------------------|
| component.display_brands_slider | bool  | Whether to show the brands slider        |
| component.brands_title        | string  | Section heading text                     |
| component.space_on            | int     | Top margin in px                         |
| component.space_below         | int     | Bottom margin in px                      |
| component.blocks              | array   | Collection of brand items                |
| component.blocks[].image      | string  | Brand logo image URL                     |
| component.blocks[].title      | string  | Brand name / alt text                    |
| component.blocks[].link       | string  | Brand link URL                           |
| position                      | string  | Unique section identifier                |
#}
{% if component.display_brands_slider %}
<section class="slider-brand-wrapper" id="section-{{ position }}">
  <div class="container">
    {% if component.brands_title %}
    <div class="widget-title">
      <h3>
        {{ component.brands_title }}
      </h3>
    </div>
    {% endif %}

    <div class="row-bt">
      <div class="col-12">
        <salla-slider type="carousel" loop auto-play controls="none" items="5" items-tablet="4" items-tablet-lg="3" items-mobile="2">
          {% for block in component.blocks %}
          <div id="brand-{{ loop.index }}" class="item">
            <a title="{{ block.title | e }}" href="{{ block.link }}">
              {% if block.image %}
              <img src="{{ block.image }}"
                   alt="{{ block.title | e }}"
                   loading="lazy"
                   width="210"
                   height="74">
              {% else %}
              <span class="not_img">210 x 74px</span>
              {% endif %}
            </a>
          </div>
          {% endfor %}
        </salla-slider>
      </div>
    </div>
  </div>
</section>
<style>
  #section-{{ position }}{
    margin-top: {{ component.space_on|default(0) }}px;
    margin-bottom: {{ component.space_below|default(25) }}px;
  }
</style>
{% endif %}
