{% set bg_color = component.bg_color|default('#0D0D0D') %}
{% set bg_image = component.bg_image|default('https://images.unsplash.com/photo-1617038220319-276d3cfab638?w=1400&q=80') %}
{% set tag = component.tag|default('Limited Edition') %}
{% set heading = component.heading|default('The Artisan Collection') %}
{% set desc = component.description|default('Handcrafted by master jewelers using centuries-old techniques. Each piece is a unique work of art.') %}
{% set btn_text = component.btn_text|default('Explore Now') %}
{% set btn_link = component.btn_link|default('#') %}

<div class="jw-cta jw-rv" style="background:{{ bg_color }};">
  <div class="jw-cta-bg" style="background-image:url('{{ bg_image }}');"></div>
  <div class="jw-cta-content">
    <div class="jw-section-tag">{{ tag }}</div>
    <h2>{{ heading|raw }}</h2>
    <p>{{ desc }}</p>
    {% if btn_text %}
    <a href="{{ btn_link }}" class="jw-btn-amber">
      {{ btn_text }}
      <i class="sicon-keyboard_arrow_left rtl:hidden"></i>
      <i class="sicon-keyboard_arrow_right ltr:hidden"></i>
    </a>
    {% endif %}
  </div>
</div>
