{#
  Editor's Picks Component (Product Grid)

  Variables (component.*):
    show_slider_editors_picks_products (boolean) - Toggle section visibility
    space_on                           (number)  - Margin top in px
    space_below                        (number)  - Margin bottom in px
    slider_editors_picks_title         (string)  - Section title
    slider_editors_picks_desc_text     (string)  - Section description text
    slider_editors_picks_limit_all     (number)  - Max products to display
    editors_picks_collection_results_per_row (string) - Products per row: 3|4|5|6
    products                           (array)   - Product objects from collection

  position - Component sort index
#}
{% if component.show_slider_editors_picks_products %}
<div class="collections-editors-pick" id="section-{{ position }}">
  <div class="container">
    {% if component.slider_editors_picks_title %}
    <div class="widget-title">
      <h3 class="box-title">
        {{ component.slider_editors_picks_title }}
      </h3>
      {% if component.slider_editors_picks_desc_text %}
        <p class="desc-text">{{ component.slider_editors_picks_desc_text }}</p>
      {% endif %}
    </div>
    {% endif %}

    <div class="widget-product">
      {% set per_row = component.editors_picks_collection_results_per_row|default('5') %}
      {% set product_grid = (12 / per_row)|round(0, 'floor') %}

      <salla-slider type="carousel" loop="false">
        <div slot="items">
          {% for product in component.products %}
          <div class="swiper-slide">
            <div class="item grid-item col-6 col-md-4 col-lg-3{% if product_grid == 3 %} col-xl-3{% endif %} {% if per_row != '4' %} col-xl-{{ product_grid }}{% else %}col-xl{% endif %}">
              {% include 'pages.partials.product.card' with { product: product } %}
            </div>
          </div>
          {% endfor %}
        </div>
      </salla-slider>
    </div>
  </div>
</div>
{% endif %}

<style>
  #section-{{ position }}{
    margin-top: {{ component.space_on }}px;
    margin-bottom: {{ component.space_below }}px;
  }
</style>
