{% set items = component.items %}

<div class="jw-features">
  {% if items|length %}
    {% for item in items %}
    <div class="jw-feature">
      <i class="{{ item.icon|default('sicon-shipping-fast') }}"></i>
      <div class="jw-feature-title">{{ item.title|default('Feature') }}</div>
      <div class="jw-feature-desc">{{ item.desc|default('Description') }}</div>
    </div>
    {% endfor %}
  {% else %}
    <div class="jw-feature">
      <i class="sicon-shipping-fast"></i>
      <div class="jw-feature-title">{{ trans('blocks.home.free_shipping') }}</div>
      <div class="jw-feature-desc">On all orders over SAR 500</div>
    </div>
    <div class="jw-feature">
      <i class="sicon-shield-check"></i>
      <div class="jw-feature-title">{{ trans('blocks.home.lifetime_warranty') }}</div>
      <div class="jw-feature-desc">Quality guaranteed forever</div>
    </div>
    <div class="jw-feature">
      <i class="sicon-diamond"></i>
      <div class="jw-feature-title">{{ trans('blocks.home.ethically_sourced') }}</div>
      <div class="jw-feature-desc">Responsibly crafted pieces</div>
    </div>
    <div class="jw-feature">
      <i class="sicon-comment-alt-lines"></i>
      <div class="jw-feature-title">{{ trans('blocks.home.expert_consult') }}</div>
      <div class="jw-feature-desc">Personal styling advice</div>
    </div>
  {% endif %}
</div>
