{#
| Variable        | Type    | Description                                                      |
|-----------------|---------|------------------------------------------------------------------|
| url             | string  |                                                                  |
| image.url       | string  |                                                                  |
| image.alt       | ?string |                                                                  |
| image.small_url | ?string |                                                                  |
| position        | Int     | Sorting number start from zero                                   |
#}
<section class="nr-section">
  <div class="nr-container">
    {% set alt_text = image.alt|trim ? image.alt : 'banner' %}
    <a href="{{ url }}" class="nr-banner" aria-label="{{ alt_text }}">
      <picture>
        {% if image.small_url %}
          <source media="(max-width: 767px)" srcset="{{ image.small_url }}"/>
        {% endif %}
        <img src="{{ image.url }}" loading="lazy" alt="{{ alt_text }}" style="width:100%;height:auto;object-fit:contain;border-radius:var(--nr-radius)">
      </picture>
    </a>
  </div>
</section>
