{#
  Hero Slideshow Component
  
  Variables (from twilight.json):
  - component.autoplay (boolean): Auto-rotate slides
  - component.slideshow_speed (string): Slide interval in ms (e.g., "5000")
  - component.slideshow_transition (string): "true" = fade, "false" = slide
  - component.text_position (string): Mobile text position ("under_img" | "in_img")
  - component.dots_position (string): Dots position ("under_img" | "in_img")
  - component.space_dots_up (string): Dots bottom offset in px
  - component.bg_color_dots (string): Pagination dot color hex
  - component.bg_color_arrow (string): Navigation arrow color hex
  - component.space_on (number): Top margin in px
  - component.space_below (number): Bottom margin in px
  - component.dpl_parallax (boolean): Enable parallax on desktop
  - component.height_img_dk (string): Desktop image height (e.g., "778px")
  - component.height_img_mb (string): Mobile image height (e.g., "auto")
  - component.video_height (string): Video container padding-top percentage
  - component.auto_playvideo (boolean): Autoplay video slides
  - component.layout (string): Layout mode
  - component.blocks (array): Slide blocks with block.type = "image" | "lookbook" | "Video"
  - position (number): Component sort index from twilight.json
#}
<section class="home-slideshow" id="slideshow-{{ position }}">
  <div class="slideshow">
    <salla-slider id="hero-slider-{{ position }}" type="carousel" show-controls="true" loop
      {% if component.autoplay %}auto-play auto-play-speed="{{ component.slideshow_speed }}"{% endif %}
      {% if component.slideshow_transition == 'true' %}effect="fade"{% endif %}>
      <div slot="items">
        {% for block in component.blocks %}

        {% if block.type == 'image' %}

        {% if block.dpl_slide_img %}
        <div class="swiper-slide slider{% if loop.first %} height_slider{% endif %}" id="slide-{{ loop.index }}">
          <div class="lazy-images-contain">
            <a href="{{ block.link_button }}" title="{{ block.header_silde }}">
              {% if block.image_slide is not empty %}

              {% set img_url = block.image_slide %}
              {% set img_url_mb = block.image_slide_mb %}

              {% if component.dpl_parallax %}
              <div class="parallax-image" style="background-image: url({{ img_url }});height:{{ component.height_img_dk }}; background-attachment: fixed;background-position: center; background-repeat: no-repeat; background-size: cover;"></div>

              <img src="{{ img_url }}" alt="{{ block.header_silde | e }}"
                   class="not-parallax lazyload"
                   data-src="{{ img_url }}">

              {% else %}

              <img src="{{ img_url }}" alt="{{ block.header_silde | e }}"
                   class="images-desktop lazyload"
                   data-src="{{ img_url }}">
              {% endif %}

              {% if block.image_slide_mb is not empty %}
              <img src="{{ img_url_mb }}" alt="{{ block.header_silde | e }}"
                   class="images-mobile lazyload"
                   data-src="{{ img_url_mb }}">
              {% else %}
              <img src="{{ img_url }}" alt="{{ block.header_silde | e }}"
                   class="images-mobile lazyload"
                   data-src="{{ img_url }}">
              {% endif %}

              {% else %}
              <span class="not_img">1470 x 778px</span>
              {% endif %}
            </a>
            <div class="container caption-wrap{% if block.alignment == 'center' %} slide-center{% elseif block.alignment == 'right' %} slide-right {% else %} slide-left{% endif %}">
              <div class="content">
                {% if block.sub_header_silde is not empty %}
                <h5 class="sub-slide-header" style="font-size:{{ block.font_size_sub_header }}; color:{{ block.color_sub_header }}; border-bottom: 1px solid {{ block.color_sub_header }}">
                  {{ block.sub_header_silde }}
                </h5>
                {% endif %}
                {% if block.header_silde is not empty %}
                <h2 class="slide-header" style="font-size:{{ block.font_size_header }}; color:{{ block.color_header }}">
                  {{ block.header_silde }}
                </h2>
                {% endif %}
                {% if block.image_des is not empty %}
                <div class="slide-des" style="font-size:{{ block.font_size_des }}; color:{{ block.color_des }}">
                  {{ block.image_des }}
                </div>
                {% endif %}
                {% if block.button_slide is not empty %}
                <a class="button-slide btn" href="{{ block.link_button }}"
                   style="font-size:{{ block.font_size_button }}; background: {{ block.button_slide_bg }}; border: 1px solid {{ block.button_slide_border }}; color: {{ block.button_slide_color }};">
                  {{ block.button_slide }}
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {% elseif block.type == 'lookbook' %}

        <div class="swiper-slide slider {% if block.lb_product_1 is not empty or block.lb_product_2 is not empty or block.lb_product_3 is not empty or block.lb_product_4 is not empty %}has-lookbook{% endif %}" id="slide-{{ loop.index }}">
          <div class="lazy-images-contain">

            {% if block.lb_image_slide is not empty %}
            {% set img_url_lb = block.lb_image_slide %}
            {% set img_url_mb_lb = block.image_slide_mb_lb %}

            {% if component.dpl_parallax %}
            <div class="parallax-image" style="background-image: url({{ img_url_lb }});height:{{ component.height_img_dk }}; background-attachment: fixed;background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
            <img src="{{ img_url_lb }}" alt=""
                 class="lazyload not-parallax"
                 data-src="{{ img_url_lb }}">
            {% else %}
            <img src="{{ img_url_lb }}" alt=""
                 class="lazyload images-desktop"
                 data-src="{{ img_url_lb }}">
            {% endif %}

            {% if block.image_slide_mb_lb is not empty %}
            <img src="{{ img_url_mb_lb }}" alt="{{ block.header_silde | e }}"
                 class="images-mobile lazyload"
                 data-src="{{ img_url_mb_lb }}">
            {% else %}
            <img src="{{ img_url_lb }}" alt="{{ block.header_silde | e }}"
                 class="images-mobile lazyload"
                 data-src="{{ img_url_lb }}">
            {% endif %}

            {% else %}
            <span class="not_img">1470 x 778px</span>
            {% endif %}

            {% if block.lb_product_1 is not empty %}
            <div class="lookbook-item" style="top:{{ block.top_position_1 }}%; left:{{ block.left_position_1 }}%;">
              <span class="glyphicon pr-lb item_1_{{ loop.index }}" data-handle="{{ block.lb_product_1 }}">+</span>
            </div>
            {% endif %}

            {% if block.lb_product_2 is not empty %}
            <div class="lookbook-item" style="top:{{ block.top_position_2 }}%; left:{{ block.left_position_2 }}%;">
              <span class="glyphicon pr-lb item_2_{{ loop.index }}" data-handle="{{ block.lb_product_2 }}">+</span>
            </div>
            {% endif %}

            {% if block.lb_product_3 is not empty %}
            <div class="lookbook-item" style="top:{{ block.top_position_3 }}%; left:{{ block.left_position_3 }}%;">
              <span class="glyphicon pr-lb item_3_{{ loop.index }}" data-handle="{{ block.lb_product_3 }}">+</span>
            </div>
            {% endif %}

            {% if block.lb_product_4 is not empty %}
            <div class="lookbook-item" style="top:{{ block.top_position_4 }}%; left:{{ block.left_position_4 }}%;">
              <span class="glyphicon pr-lb item_4_{{ loop.index }}" data-handle="{{ block.lb_product_4 }}">+</span>
            </div>
            {% endif %}

            <style type="text/css">
              #slide-{{ loop.index }} .item_1_{{ loop.index }}{
                color:{{ block.dots_color_1 }};
                background: {{ block.dots_bg_color_1 }};
              }
              #slide-{{ loop.index }} .item_1_{{ loop.index }}:before{
                color: {{ block.dots_bg_color_1 }};
              }
              #slide-{{ loop.index }} .item_2_{{ loop.index }}{
                color:{{ block.dots_color_2 }};
                background: {{ block.dots_bg_color_2 }};
              }
              #slide-{{ loop.index }} .item_2_{{ loop.index }}:before{
                color: {{ block.dots_bg_color_2 }};
              }
              #slide-{{ loop.index }} .item_3_{{ loop.index }}{
                color:{{ block.dots_color_3 }};
                background: {{ block.dots_bg_color_3 }};
              }
              #slide-{{ loop.index }} .item_3_{{ loop.index }}:before{
                color: {{ block.dots_bg_color_3 }};
              }
              #slide-{{ loop.index }} .item_4_{{ loop.index }}{
                color:{{ block.dots_color_4 }};
                background: {{ block.dots_bg_color_4 }};
              }
              #slide-{{ loop.index }} .item_4_{{ loop.index }}:before{
                color: {{ block.dots_bg_color_4 }};
              }
            </style>
          </div>
        </div>

        {% elseif block.type == 'Video' %}

        {% if block.style_video == 'youtube' %}
        <div class="swiper-slide slider slide_video embed-responsive" id="slide-{{ loop.index }}">
          <div class="fluid-width-video-wrapper">
            <iframe class="youtube-player" id="player_{{ loop.index }}" width="100%" height="100%" data-video-id="{{ block.video_link }}" src="https://www.youtube.com/embed/{{ block.video_link }}?enablejsapi=1&rel=0&autoplay=0&mute=1" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
        {% else %}
        <div class="swiper-slide slider slide_mp4" id="slide-{{ loop.index }}">
          <div class="fluid-width-video-wrapper">
            <video autoplay muted playsinline class="video">
              <source type="video/mp4" src="{{ block.video_mp4_link }}">
            </video>
          </div>
        </div>
        {% endif %}

        {% endif %}

        {% endfor %}
      </div>
    </salla-slider>
  </div>
</section>

<style>
  .home-slideshow .swiper-button-next,
  .home-slideshow .swiper-button-prev {
    border-color: {{ component.bg_color_arrow }};
  }
  .home-slideshow .swiper-button-next svg,
  .home-slideshow .swiper-button-prev svg {
    fill: {{ component.bg_color_arrow }};
  }

  .fluid-width-video-wrapper { padding-top: {{ component.video_height }} !important; }

  @media (min-width: 1367px) {
    .home-slideshow .not-parallax {
      display: none;
    }
  }

  @media (max-width: 1366px) {
    .home-slideshow .parallax-image {
      display: none;
    }
  }

  @media (min-width: 768px) {
    {% if component.dots_position == 'in_img' %}
    #slideshow-{{ position }} .swiper-pagination {
      position: absolute;
      left: 0;
      bottom: 110px;
      margin: 0;
      width: 100%;
    }

    #slideshow-{{ position }} .swiper-pagination-bullet {
      border-width: 1px;
      background: {{ component.bg_color_dots }};
      border-color: {{ component.bg_color_dots }};
    }

    #slideshow-{{ position }} .swiper-button-next,
    #slideshow-{{ position }} .swiper-button-prev {
      border-color: {{ component.bg_color_arrow }};
    }

    #slideshow-{{ position }} .swiper-button-next svg,
    #slideshow-{{ position }} .swiper-button-prev svg {
      fill: {{ component.bg_color_arrow }};
    }

    #slideshow-{{ position }} .swiper-pagination-bullet-active {
      background: transparent;
    }

    {% else %}
    #slideshow-{{ position }} .swiper-button-next,
    #slideshow-{{ position }} .swiper-button-prev {
      top: calc(36% - 21px);
    }
    #slideshow-{{ position }} .swiper-pagination-bullet {
      border-width: 1px;
      background: #c5c5c5;
      border-color: #c5c5c5;
    }
    #slideshow-{{ position }} .swiper-pagination-bullet-active {
      background: transparent;
    }
    {% endif %}
  }

  {% if component.dpl_parallax %}

  @media (min-width: 768px) and (max-width: 1024px) {
    {% if component.dots_position == 'in_img' %}
    #slideshow-{{ position }} .swiper-button-next,
    #slideshow-{{ position }} .swiper-button-prev {
      top: calc(38% - 21px);
    }
    {% endif %}
  }

  @media (min-width: 1367px) {
    #slideshow-{{ position }} .lazy-images-contain img {
      height: {{ component.height_img_dk }};
      object-fit: cover;
    }
  }

  {% else %}
  @media (min-width: 1025px) {
    #slideshow-{{ position }} .lazy-images-contain img {
      height: {{ component.height_img_dk }};
      object-fit: cover;
    }
    {% if component.dots_position == 'in_img' %}
    #slideshow-{{ position }} .swiper-button-next,
    #slideshow-{{ position }} .swiper-button-prev {
      top: calc(36% - 21px);
    }
    #slideshow-{{ position }} .swiper-pagination {
      bottom: {{ component.space_dots_up }}px;
    }
    {% endif %}
  }
  {% endif %}

  @media (max-width: 1024px) {
    #slideshow-{{ position }} .lazy-images-contain img {
      height: {{ component.height_img_mb }};
      object-fit: cover;
    }
  }

  @media (max-width: 767px) {
    .home-slideshow .not-parallax {
      display: none;
    }

    {% if component.text_position == 'under_img' %}
    #slideshow-{{ position }} .caption-wrap {
      transform: none;
      -webkit-transform: none;
      -ms-transform: none;
      text-align: center !important;
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      display: inline-block;
      width: 100%;
      padding: 20px 10px;
    }

    #slideshow-{{ position }} .caption-wrap:after {
      display: block;
      content: "";
      visibility: hidden;
      clear: both;
    }
    #slideshow-{{ position }} .caption-wrap .content h2 {
      font-size: 24px !important;
      margin-bottom: 15px;
      color: {{ theme.page_title_color }} !important;
      line-height: 36px;
    }

    #slideshow-{{ position }} .caption-wrap .content .sub-slide-header {
      margin-bottom: 18px;
      color: {{ theme.page_title_color }} !important;
      border-bottom: 1px solid {{ theme.page_title_color }} !important;
    }
    #slideshow-{{ position }} .caption-wrap .content .slide-des {
      margin-bottom: 20px;
      font-size: 12px !important;
      color: {{ theme.body_color }} !important;
      display: block;
    }
    #slideshow-{{ position }} .caption-wrap .content .button-slide {
      margin: auto;
      font-size: 12px !important;
      max-width: 210px;
      padding: 7px 15px 5px;
      line-height: 22px;
      height: inherit;
    }
    #slideshow-{{ position }} .swiper-pagination {
      position: absolute;
      left: 0;
      bottom: -10px;
      margin: 0;
      width: 100%;
    }
    {% else %}

    #slideshow-{{ position }} .caption-wrap .content .button-slide {
      max-width: max-content;
      height: 36px;
      line-height: 36px;
      width: auto;
      padding: 0 40px;
    }
    #slideshow-{{ position }} .caption-wrap .content .sub-slide-header {
      margin-bottom: 10px;
    }

    {% endif %}

    {% if component.dots_position == 'in_img' and component.text_position == 'in_img' %}
    #slideshow-{{ position }} .swiper-pagination {
      position: absolute;
      left: 0;
      bottom: 10px;
      margin: 0;
      width: 100%;
    }

    #slideshow-{{ position }} .swiper-pagination-bullet {
      border-width: 1px;
      background: {{ component.bg_color_dots }};
      border-color: {{ component.bg_color_dots }};
    }

    #slideshow-{{ position }} .swiper-button-next,
    #slideshow-{{ position }} .swiper-button-prev {
      border-color: {{ component.bg_color_arrow }};
    }

    #slideshow-{{ position }} .swiper-button-next svg,
    #slideshow-{{ position }} .swiper-button-prev svg {
      fill: {{ component.bg_color_arrow }};
    }

    #slideshow-{{ position }} .swiper-pagination-bullet-active {
      background: transparent;
    }
    {% else %}
    #slideshow-{{ position }} .swiper-pagination-bullet {
      background: #c5c5c5;
      border-color: #c5c5c5;
    }
    #slideshow-{{ position }} .swiper-pagination-bullet-active {
      background: transparent;
    }
    {% endif %}

    {% if component.text_position == 'in_img' and component.dots_position == 'under_img' %}
    #slideshow-{{ position }} .swiper-pagination {
      position: absolute;
      left: 0;
      bottom: -22px;
      margin: 0;
      width: 100%;
    }
    {% endif %}
  }

  {% if component.layout == 'default' %}
  #slideshow-{{ position }} .caption-wrap {
    max-width: 850px;
  }

  #slideshow-{{ position }} .caption-wrap .slide-des {
    max-width: 410px;
  }

  #slideshow-{{ position }} .swiper-button-prev {
    left: 5%;
  }

  #slideshow-{{ position }} .swiper-button-next {
    right: 5%;
  }
  {% endif %}

  #slideshow-{{ position }} {
    margin-top: {{ component.space_on }}px;
    margin-bottom: {{ component.space_below }}px;
  }
  {% if component.text_position == 'under_img' %}
  #slideshow-{{ position }} salla-slider:not(.s-slider-initialized) {
    padding-bottom: 47px;
  }
  {% endif %}
</style>
