{#
| Variable              | Type    | Description                                  |
|-----------------------|---------|----------------------------------------------|
| component.title       | string  | Section heading text                         |
| component.blocks      | array   | Collection of testimonial items              |
| component.blocks[].quote  | string (html) | Testimonial text (richtext)          |
| component.blocks[].author | string        | Author / reviewer name               |
| position              | string  | Unique section identifier                    |
#}
<div class="page-width home-quotes" id="home-quote-{{ position }}">
  <div class="container">
    {% if component.title %}
    <div class="widget-title">
      <h3>
          <span>{{ component.title }}</span>
      </h3>
    </div>
    {% endif %}

    {% if component.blocks|length > 0 %}
    <div class="quotes-wrapper">
      <salla-slider type="carousel" loop auto-play controls="arrows" items="3" items-tablet="3" items-tablet-lg="2" items-mobile="1" id="Quotes-{{ position }}">
        {% for block in component.blocks %}
        <div class="quotes-slide--{{ loop.index }}">
          <blockquote class="quotes-slider__text text-center">
            <span class="quote-icon">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-quote" viewBox="0 0 41 35"><path d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z" fill="#000" fill-rule="evenodd"/></svg>
            </span>
            {% if block.quote %}
            <div class="rte-setting rte">{{ block.quote|raw }}</div>
            {% endif %}
            {% if block.author %}
            <cite>{{ block.author | e }}</cite>
            {% endif %}
          </blockquote>
        </div>
        {% endfor %}
      </salla-slider>
    </div>
    {% endif %}
  </div>
</div>
