<footer class="nr-footer">
  <div class="nr-container">
    <div class="nr-footer__grid">

      <div class="nr-footer__brand">
        <div class="nr-footer__logo">
          {% if store.logo %}
            <img src="{{ store.logo }}" alt="{{ store.name }}" style="height:32px; filter:brightness(0) invert(1);">
          {% else %}
            {{ store.name }}
          {% endif %}
        </div>
        {% if store.description %}
          <p class="nr-footer__about">{{ store.description|raw }}</p>
        {% endif %}
        <div style="margin-top:1.5rem">
          <salla-social></salla-social>
        </div>
      </div>

      <div class="nr-footer__links">
        <salla-menu source="footer"></salla-menu>
      </div>

      <div class="nr-footer__links">
        <salla-contacts></salla-contacts>
      </div>

      <div class="nr-footer__links">
        <h4 class="nr-footer__heading">{{ trans('common.elements.newsletter') }}</h4>
        <salla-newsletter></salla-newsletter>
      </div>
    </div>

    <div class="nr-footer__bottom">
      <span class="nr-footer__copy">{% hook copyright %}</span>
      <div class="nr-footer__payments">
        <salla-payments></salla-payments>
      </div>
    </div>
  </div>
</footer>
