<footer class="nr-footer">
  <div class="nr-container">
    <div class="nr-footer__grid">

      <div class="nr-footer__brand">
        <a href="{{ store.url }}" class="nr-footer__logo">
          {% set footer_logo = theme.settings.get('logo_dark', store.logo) %}
          {% if footer_logo %}
            <img src="{{ footer_logo }}" alt="{{ store.name }}" style="height:32px;">
          {% else %}
            {{ store.name }}
          {% endif %}
        </a>
        {% if store.description %}
          <p class="nr-footer__about">{{ store.description|striptags|slice(0, 200) }}</p>
        {% endif %}
        <div class="nr-footer__social">
          <salla-social></salla-social>
        </div>
      </div>

      <div class="nr-footer__links">
        <salla-menu source="footer"></salla-menu>
      </div>

      <div class="nr-footer__links">
        <salla-contacts></salla-contacts>
      </div>

      <div class="nr-footer__links">
        <h4 class="nr-footer__heading">{{ trans('common.elements.newsletter') }}</h4>
        <p class="nr-footer__newsletter-desc">{{ trans('blocks.footer.subscribe_text')|default('Get updates on new arrivals and exclusive offers.') }}</p>
        <salla-newsletter></salla-newsletter>
      </div>
    </div>

    <div class="nr-footer__bottom">
      <span class="nr-footer__copy">{% hook copyright %}</span>
      <div class="nr-footer__payments">
        <salla-payments></salla-payments>
      </div>
    </div>
  </div>
</footer>
